# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Data files
data_raw/
data_processed/

# VS Code
.vscode/

# Mac / Windows junk
.DS_Store
Thumbs.db

# Virtual Environments
venv/